body {
    margin: 0px;
    padding: 0px;
}


/* Navigation bar  */
#navbar {
    display: flex;
    flex-direction: row;
}

#navbar img {
    height: 50px;
    margin-top: 12px;
    filter: invert(40);

}

#navbar .navbar1 {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 30px;

}

#navbar .navbar1 li a {
    margin: 0px 10px;
    text-decoration: none;
    color: rgb(194, 185, 185);
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
}

#navbar .navbar1 li a:hover {
    color: white;
}

#navbar div {
    margin-top: 35px;
    margin-left: 600px;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    
}

#navbar div input {
    height: 25px;
    width: 270px;
    border: 1px solid black;
    border-radius: 7px;
    padding-left: 10px;
}

#navbar::before {
    content: "";
    background-image: linear-gradient(to right top, #051937, #212043, #39274d, #512d54, #693459);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 10%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}


/* HOME SECTION  */

#section h2
{
    text-align: center;
    font-size: 60px;
    margin-top: 100px;
    text-shadow: 5px 5px 7px;
}

#section::before
{
    content: "";
    background-image: linear-gradient(to right top, #e5dee2, #e2d6e1, #dacfe4, #cdcae7, #bac6ea, #acbfec, #9db8ee, #8bb2f0, #89a4f1, #8f94ef, #9c81e8, #ab6cdc);
    position:absolute;
    top: 0px;
    left: 0px;
    height: 40%;
    width: 100%;
    z-index: -2;
}

/* layout */

#layout
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

#layout a
{
    border: 2px solid black;
    height: 187Px;
    width: 132px;
    margin: 29px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 15px;
    background-image: linear-gradient(to right top, #ffffff, #f6f7f9, #edeef3, #e3e7ed, #d8dfe7);
    color: rgb(71, 68, 68);
}
#layout a div
{
    display: flex;  
    justify-content: center;
    margin-top: 20%;
    
}

#layout a:hover
{
    box-shadow: 14px 14px 20px;
   
}

#layout ::before
{
    content: " ";
    background-image: linear-gradient(to right top, #cfd6e0, #d2dce5, #d6e2e9, #dae7ec, #dfedf0);
    position:absolute;
    top: 40%;
    left: 0px;
    height: 50%;
    width: 100%;
    z-index: -1;
}



